@page
@model WebApplication3.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}

<h2>Forget Password</h2>

<form method="post">
    <div class="form-group">
        <label class="form-label" asp-for="ForgetPasswordViewModel.Email">Email address</label>
        <input asp-for="ForgetPasswordViewModel.Email" class="form-control" />
        <span asp-validation-for="ForgetPasswordViewModel.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
